/** {
  outline: 1px solid red !important;
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: black;
}

input {
  background: grey;
  font-size: 18px;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

/* add will-change: transform */
/* add transfor translate3d */
/* add transform: translateZ(0) to force a new layer */
/* backface-visibility: hidden; */
.mover {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  position: fixed;
  height: 100px;
  width: 73.333px;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* add will-change: transform */
/* add transform: translateZ(0); */
.randomPizzaContainer {
  width:33.33%;
  height: 325px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

 .container {
  background-color: rgba(240, 60, 60, 0.8);
}

.img-pizza-box {
  width: 35%;
}

.title-pizza-box {
  width: 65%;
}
